* {
  /*box-sizing: border-box;
  outline: 1px solid limegreen;
*/
}

html, body {
  margin: 0;
  padding: 0;
  height: min-content;
  width: 100%;
}

body{
  background-image: radial-gradient(ellipse at center, #ffffff, #efefef);
}

#root{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
}

.item-card {
  border: none !important;
  box-shadow: 1px 1px 5px 1px #eee, -1px -1px 5px 1px #eee !important;
  transition: transform 0.3s; /* Transición suave para el efecto */
  }

.item-card:hover {
  transform: rotateX(10deg); /* Cambia el ángulo de rotación según tu preferencia */
  transform: rotateY(10deg);
  cursor: pointer;
  box-shadow: 1px 1.5px 5px 1px #ddd, -1px 1.5px 5px 1px #ddd !important;
}

.card-img-top {
  max-width: 100%;
  max-height: 250px; /* Ajusta el valor según tus necesidades */
  width: auto;
  height: auto;
}

.title-container{
  padding-top: 40px;
  padding-bottom: 40px;
}

.item-container{
  padding-top: 20px;
  padding-bottom: 20px;
}

footer{
  margin-top: auto;
  color: white;
}

.nav-link{
color: rgb(255, 255, 255) !important;
}

.nav-link:hover{
  cursor:pointer;
  color: rgb(74, 204, 219) !important;
}
